<!DOCTYPE html>
<html>

<head>
  <title>SpeedReader</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body <% if signed_in? %> data-id="<%= current_user.id %>" <% end %>>




<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About SpeedReader</h4>
      </div>
      <div class="modal-body">
        <strong><em>Who made SpeedReader?</em></strong><br>
        SpeedReader is Sam Milechman's final project for <a href="http://www.appacademy.io/">App Academy</a>.<br><br>
        <strong><em>What is the theory behind SpeedReader?</em></strong><br>
        When reading on a physical page or a computer screen, the eye has to physically scan the page, jumping all the way back to the left at each line break. This continuous motion is limiting your reading speed. By rendering the words one by one and allowing your eyes to rest on a set space, you can easily read 2-4x as fast!<br><br>
        <strong><em>What's up with the highlighted letter?</em></strong><br>
        This feature makes SpeedReader easier to digest. The "pivot letter" is where your eye would naturally fall when reading normally as your brain processes the information on the page. Building the word around the pivot letter allows for a more natural reading experience.<br><br>
        <strong><em>Is reading comprehension as good when using SpeedReader?</em></strong><br>
        Nobody knows. This is a very new technology. I take no responsibility for tests you may fail while using this product to study. :-)<br><br>
        <strong><em>Why should I sign up?</em></strong><br>
        If you sign up for a free account, you'll automatically track your reading statistics, including average speed and total words read.<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<!-- New User Modal -->
<div class="modal fade" id="userNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a Free Account</h4>
      </div>
      <div class="modal-body">

        <form action="<%= users_url %>" method="post">
          <%= auth_token_input %>

          <input type="hidden" name="user[total_words]" value="0">
          <input type="hidden" name="user[total_time]" value="0">
          <input type="hidden" name="user[average_speed]" value="0">

          <input
             name="_method"
             type="hidden"
             value="POST">

          <label for="user_email">Email</label>
          <input
             id="user_email"
             name="user[email]"
             type="text">
          <br>

          <label for="user_password">Password</label>
          <input
             id="user_password"
             name="user[password]"
             type="password">
          <br>

          <input type="submit" value="Create">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- New Session Modal -->
<div class="modal fade" id="sessionNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">

        <form action="<%= session_url %>" method="post">
          <%= auth_token_input %>

          <label for="user_email">Email</label>
          <input
             id="user_email"
             name="user[email]"
             type="text">
          <br>

          <label for="user_password">Password</label>
          <input
             id="user_password"
             name="user[password]"
             type="password">
          <br>

          <input type="submit" value="Log in">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<nav class="navbar navbar-default" style="border-radius:0" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SpeedReader</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active link-to-reader"><a href="">Home</a></li>

        <li data-toggle="modal" data-target="#aboutModal" class="dead-link"><a href="">Why use SpeedReader?</a></li>
        <% if signed_in? %>
          <li class="dead-link">
            <a href="">
              <%= current_user.email %>
            </a>
          </li>
        <% else %>
          <li class="dead-link" data-toggle="modal" data-target="#userNewModal">
            <a href="">
              Create Account
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="dead-link">
            <a href=""><span class="glyphicon glyphicon-ok-circle"></span> Logged in as <%= current_user.email %></a>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if signed_in? %>
              <li>
                <a data-method="DELETE" href="<%= session_url %>">Logout</a>
              </li>
              <li class="divider"></li>
              <li class="dead-link"><a href=""><%= current_user.email %></a></li>
              <li class="dead-link"><a href="#/user/<%= current_user.id %>/preferences">Account Settings</a></li>
            <% else %>
              <li class="dead-link" data-toggle="modal" data-target="#sessionNewModal"><a href="">Login</a></li>
              <li class="dead-link" data-toggle="modal" data-target="#userNewModal"><a href="">Create account</a></li>
              <li class="divider"></li>
            <% end %>

            <li><a href="#">Something else here</a></li>

            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if flash[:errors] %>
  <div id="flash-errors">
    <%= flash[:errors] %>
  </div>
<% end %>


<div id="content">
  <%= yield %>
</div>

</body>
</html>
